
{% load static %}

{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main-body">
        <div class="person-header">
            <div>
                <img src="{{ helper.photo.url }}" class="ph-avatar">
                <p class="ph-rating" id="rating">{{ helper.rate }}</p>
                <p class="ph-course" id="course">{{ helper.course }}</p>
            </div>
            <div style="position: relative; left: 20px;">
                <h1 class="ph-name">{{ helper.name }}</h1>
                <p class="ph-categories">{% for categ in categories %} {{ categ.name }}  {% endfor %}</p>
            </div>
        </div>
        <button onclick="" id="join-btn">Join</button>
        <div class="chat-area">
            <video src="{% static 'chat/video/video.mp4' %}" class="remote-video" id="remote-video" autoplay ></video>
            <video class="local-video" id="local-video" autoplay ></video>
            <div class="textchat">

                <div
                class="chat__item__container"
                id="id_chat_item_container"
                style="font-size: 20px"
                >
                <br />
                <input type="text" id="id_message_send_input" />
                <button type="submit" id="id_message_send_button">Send Message</button>
                <br />
                <br />
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="{% static 'chat/js/main.js' %}">


                
                </script>
            </div>
        </div>
        
    </div>
</body>
</html>